/** @format */

.container {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}
.box {
  width: 120px;
  height: 60px;
  color: white;
  align-content: center;
  text-align: center;
  font-size: 40px;
}
.box1 {
  background: green;
  flex-grow: 1;
}
.box2 {
  background: blue;
  flex-grow: 3;
}
.box3 {
  background: grey;
  flex-grow: 4;
}
.box4 {
  background-color: purple;
  flex-grow: 3;
}
.box5 {
  background-color: orange;
  flex-grow: 1;
}

.position {
    position: absolute;
    width: 50%;
    height: 100px;
    border: 2px solid red;
}
.position1 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}