/*
Sass file that sorts the variable $list_to_sort and prints the sorted list in the debug output.
*/
@use '@sass-fairy/list';

$list_to_sort: john, anna, zoe, kim, felicia, carrie;
$sorted_list: ();

@for $i from 1 through length($list_to_sort) {
  $name: nth(sort($list_to_sort), $i);
  $sorted_list: append($sorted_list, $name);
}

@debug $sorted_list;