/*
Sass file that assigns:

Margin left and right at 10px to body tags
Margin left and right at 15px to div tags
*/

@mixin horizontal-margin {
    margin-left: 10px;
    margin-right: 10px;
}
@mixin div-margin {
    margin-left: 15px;
    margin-right: 15px;
}
body {
    @include horizontal-margin;
}
div {
    @include div-margin;
}

 